<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Home
		</title>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>

<video id="video" autoplay=true  controls=true></video>


</body>
<script>
let video= document.getElementById("video")
media=new MediaSource();
let source
let dados=[];
let tipo;
if(MediaSource.isTypeSupported('video/webm;codecs=opus,vp9'))
{
tipo="video/webm;codecs=opus,vp9";
}else
if(MediaSource.isTypeSupported('video/webm'))
{
tipo="video/webm";
}else
if(MediaSource.isTypeSupported('video/webm;codecs=vorbis, vp8'))
{
tipo="video/webm;codecs=vorbis, vp8";
}  
media.addEventListener("sourceopen",function(){
source=media.addSourceBuffer(tipo);
media.duration=source.timestampOffset;
source.mode='sequence'
socket=io.connect("/");
socket.on("admin",function(data){
if((source.timestampOffset-video.currentTime )>10){
video.currentTime = source.timestampOffset
}
source.appendBuffer(data);

})
},false)
video.src=URL.createObjectURL(media);



  </script>
</html>
